:root {
    --transition: all .4s ease;
    --white: #ffffff;
    --gray: rgb(150, 150, 150);

}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1111111111111;
}

.nav-link {
    color: var(--white) !important;
    transition: var(--transition);
}

.nav-link:hover {
    background: #0e0e0e45;
    cursor: pointer;
}



#carousel {
    position: relative;
    top: 0;
}



/* Clases */

.card{
    transition: var(--transition);
}

.card:hover {
    cursor: pointer;
    top: -5%;
}


.card-img-top{
    height: 250px;
}

.w-10 {
    width: 10%;
}

.w-30px{
    width: 30px;
}

.bg-transp {
    background: #0e0e0e45;
    backdrop-filter: blur(12px);
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--white);
}



@media only screen and (max-width: 600px) {
    #quienesSomos {
        display: none;
    }

    .card{
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 1200px) {}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {}


@keyframes move {
    from {
        position: absolute;
        left: 0px;
    }

    to {
        position: absolute;
        left: 90vw;
    }

}