:root {
    --transition: all .4s ease;
    --white: #ffffff;
    --gray: rgb(150, 150, 150);
    --black: #212529;

}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1111111111111;
}

a{
    color: var(--white);
    text-decoration: none;
}

a:hover{
    color: var(--white);
}


footer{
    padding: 30px 0;
    background-color: var(--black);
    color: var(--white);
}

footer .fa{
    font-size: 30px;
    margin-right: 3%;;
}

.nav-link {
    color: var(--white) !important;
    transition: var(--transition);
}

.nav-link:hover {
    background: #0e0e0e45;
    cursor: pointer;
}



#carousel {
    position: relative;
    top: 0;
}





/* Clases */

.card{
    transition: var(--transition);
}

.div-icons{
    text-align: end;
}

.card:hover {
    cursor: pointer;
    top: -5%;
}


.card-img-top{
    height: 250px;
}

.w-10 {
    width: 10%;
}

.w-30px{
    width: 30px;
}

.bg-transp {
    background: #0e0e0e45;
    backdrop-filter: blur(12px);
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--white);
}



@media only screen and (max-width: 600px) {
    #quienesSomos {
        display: none;
    }

    .card{
        margin-bottom: 8%;
    }
    .div-icons{
        margin-top: 3%;
        text-align: center;
    }
}

